*{
padding: 0;
margin: 0;
box-sizing: border-box;    
}



.item{
background-color: red;
height: 40px;
width: 50px;
flex-basis: 500px;

margin: 10px;    
}








.countainer{
border: 2px solid black; 
display: flex;
/* ye by default items ko left to right kr ta he     */
height: 90vh;
/* 1 */
justify-content: center;
/* 2 */
justify-content: flex-end;
/* 3 */
justify-content: flex-start;
/* 4 */
/* justify-content:end;(modren property {english ky hsab se right side per & urdu ky hsab  se left side per} */
/* 5 */
                              /* Spacing */
/* 1 */
justify-content:space-around;
/* first & last me kum space ho ga bnesbat center me mojod items ky */
/* 2 */
justify-content: space-between;
/* first & last me bilkul space nhe  */
/* 3 */
justify-content: space-evenly;
/* her side se equle space */

align-items: flex-start;
/* ye property container per apply ho ty he pher countainer me mojod all flex-items per work kr
 /* ty he jub ky align-self just ek he item (jis per lgaya he) per work kr ta he  */ */

}



    

